<main>
  <div class="container">
  <div class="mdl">
    
    <div class="mdl_inner">
      <h2 class="heading">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label>Username</label>
  <br>
  <input type="text" class="uk-input" placeholder="Enter Username" id="username" formControlName="username" (keyup)="onChange($event)">
  <br>
  <div *ngIf="username">
    <label>Password</label><br>
    <div class="mb-6 text-center">
      <div id="otp" class="flex justify-center" >
        <!-- <div *ngFor="let pass of passwordFeilds"> -->
          <div class="otpInput" *ngFor="let pass of passwordFeilds;let i = index" >

          <input *ngIf="pass; else block" class="" (keyup) = "OTPInput($event,i)" type="text" id="first" maxlength="1" />
          <ng-template #block>
            <input type="text" disabled>
          </ng-template>
        </div>
        </div>
      </div>
    </div>
  <input type="submit" >
</form>
</div>
</div>
</div>
</main>
